node_modules/
config.json
build/
test.ts
SMLoadrConfig.json
SMLoadr-linux-x64
downloads/*
!.gitkeep
downloadedSuccessfully.txt
downloadLinks.txt
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
static/build
